@import "vars";

@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/tether/src/css/tether";
@import "../../../node_modules/font-awesome/scss/font-awesome";

@import "mixins";

@import "select2-bootstrap";
.select2-container--bootstrap {
  .select2-selection--multiple {
    .select2-selection__choice, .select2-search--inline {
      margin-top: 0.4rem;
    }
    .select2-search--inline {
      .select2-search__field {
        height: auto;
      }
    }
  }
}

.bg-white {
  background-color: #FFFFFF;
}

.shd {
  @include box-shadow2();
}

.alert {
  font-size: 0.8rem;
}

label.required {
  &:after {
    content:"*";
  }
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #bbbbbb !important;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #bbbbbb !important;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #bbbbbb !important;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color: #bbbbbb !important;
}

.text-sm {
  font-size: 0.9rem;
}