#page {
  margin-left: $left-width;
  @include trans-width();

  .fixed-top {
    left: $left-width;
    border-bottom: 1px solid $card-border-color;
    @include trans-width();
    @include bottom-shadow();
  }

  .left-closed & {
    margin-left: $left-width-sm;

    .fixed-top {
      left: $left-width-sm;
    }
  }
}

.page-content {
  padding-top: $grid-gutter-width-base / 2;
}

.page-header {

  & + .page-content {
    padding-top: 64px;
  }

  .navbar-text {
    display: inline-block;
    padding-top:    .425rem;
    padding-bottom: .425rem;

    + .navbar-text {
      margin-left: 1rem;
    }
  }

  .breadcrumb {
    float: left;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: .425rem;
    padding-bottom: .425rem;
    background: transparent;
  }

  .tools {
    margin-left: 10px;
  }

  .btn-group {
    padding: 0;
  }
}

.st-chk {
  cursor: pointer;
  width: 15px;
}

.st-checked {
  color: $check-input-color;
}

.st-sortable {
  cursor: pointer;

  &.st-sort-ascent, &.st-sort-descent {
    &:before {
      font: normal normal normal 14px/1 FontAwesome;
      padding-right: 4px;
      color: #B8B8B8;
    }
  }

  &.st-sort-ascent:before{
    content: "\f0de";
  }
  &.st-sort-descent:before{
    content: "\f0dd";
  }
}

.st-chk {
  cursor: pointer;
}

.st-actions {
  width: 35px;
}

.st-actions-th {
  width: 70px;
}

.st-actions-3 {
  width: 105px;
}

.st-actions-4 {
  width: 140px;
}

.page-loading {
  position: relative;

  > .loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    opacity: 0.1;
    z-index: 10000;
  }
}

.table-grid {
  .custom-control {
    margin-right: 0;
  }
}

.card-block-table {
  &>.table-grid {
    thead th, tbody td {
      &:first-child {
        padding-left: 1rem;
      }
      &:last-child {
        padding-right: 1rem;
      }
    }
  }
}