$sidebar-caption-height: $navbar-height + 1px;
$sidebar-footer-height: $sidebar-caption-height - 10px;

@mixin sidebar-link() {
  a {
    text-decoration: none;

    &:focus {
      outline: none;
    }
  }
}

@mixin sidebar-link-inverse($darken: false) {
  a {
    @if $darken {
      color: darken($brand-light, $darken);
    }
    @else {
      color: $brand-light;
    }

    &:hover {
      color: #ffffff;
    }
  }
}


#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: $left-width;
  height: 100%;
  overflow-y: auto;
  @include trans-width();

  .left-closed & {
    width: $left-width-sm;
  }

  background: $gray-lightest;

  &.sidebar-inverse {
    background: $brand-primary;
    color: #FFFFFF;
  }
}

.sidebar-wrapper {
  position: relative;
  min-height: 100%;

  .caption {
    height: $sidebar-caption-height;
    line-height: $sidebar-caption-height;
    background-color: $gray-lighter;
    position: fixed;
    top: 0;
    left: 0;
    width: $left-width;
    @include trans-width();
    @include sidebar-link();

    .font-sm & {
      height: 48px;
      line-height: 48px;
    }

    .title {
      padding: 0 15px;
    }

    .tools {
      > a {
        display: inline-block;
        padding: 0 15px;

        &:hover {
          background-color: $gray-lightest;
        }

        .left-closed & {
          display: block;
          text-align: center;
        }
      }

      .left-closed & {
        float: none !important;
      }
    }

    .left-closed & {
      width: $left-width-sm;
    }
  }

  .sidebar-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: $left-width;
    background-color: $gray-lighter;
    height: $sidebar-footer-height;
    line-height: $sidebar-footer-height;
    @include trans-width();

    > a, > .dropup > a {
      padding: 0 15px;
      //color: $brand-light;
      text-decoration: none;
      outline: none;
      display: inline-block;

      &:hover {
        background-color: $gray-lightest;
      }

      .left-closed & {
        display: block;
        float: none;
        padding: 0;
        text-align: center;
      }
    }

    .left-closed & {
      width: $left-width-sm;
    }
  }

  .sidebar-menu {
    padding-top: $sidebar-caption-height;
    padding-bottom: $sidebar-footer-height;

    .font-sm & {
      padding-top: 48px;
      padding-bottom: 48px;
    }

    @include sidebar-link();

    >li {

      >a {
        padding: 12px 5px 12px 15px;
        display: block;
        border-top: 1px solid transparent;
        border-bottom: 1px solid $gray-lighter;

        &:hover {
          text-decoration: none;
          background-color: $gray-lighter;
        }

        .expand {
          padding: 5px 10px;
          cursor: pointer;

          &:hover {
            background-color: darken($gray-lighter, 5%);
          }

          .left-closed & {
            display: none;
          }
        }
      }

      >ul {
        display: none;
        padding: 0;
        background-color: lighten($gray-lighter, 2%);

        a:hover, li.active > a {
          text-decoration: underline;
          color: $link-hover-color;
        }

        > li {
          list-style-type: none;
          > a {
            display: block;
            padding: 10px 5px 10px 30px;
            text-decoration: none !important;

            &:hover {
              background-color: $gray-lighter;
            }
          }
        }
      }

      &.active {
        >a {
          text-decoration: none;
          background-color: $gray-lighter;
        }
      }

      &.expanded {

        >ul {
          display:block;

          .left-closed & {
            display: none;
          }
        }

        > a {
          background-color: lighten($gray-lighter, 1%);
          .expand::before {
            content: "\f107";
          }
        }
      }
    }
  }

  .sidebar-inverse & {
    .caption {
      background-color: darken($brand-primary, 7%);

      @include sidebar-link-inverse(10%);

      .tools > a {
        &:hover {
          background-color: $brand-primary;
        }
      }
    }

    .sidebar-footer {
      background-color: darken($brand-primary, 7%);

      > a, > .dropup > a {
        color: darken($brand-light, 10%);

        &:hover {
          background-color: $brand-primary;
          color: #ffffff;
        }
      }
    }

    .sidebar-menu {
      @include sidebar-link-inverse();

      >li {

        >a {
          color: #ffffff;
          border-bottom-color: darken($brand-primary, 4%);

          &:hover {
            background-color: darken($brand-primary, 3%);
          }

          .expand {
            &:hover {
              background-color: darken($brand-primary, 7%);
            }
          }
        }

        >ul {
          background-color: darken($brand-primary, 2%);
          a:hover, li.active > a {
            text-decoration: underline;
            color: #ffffff;
          }
          > li {
            > a {
              &:hover {
                background-color: darken($brand-primary, 4%);
              }
            }
          }
        }

        &.active {
          >a {
            background-color: darken($brand-primary, 4%);
          }
        }

        &.expanded {

          > a {
            background-color: darken($brand-primary, 2%);
          }
        }
      }
    }
  }
}

.lc-show {
  display: none !important;
}

.left-closed {

  .lc-show {
    display: block !important;

    &.inline {
      display: inline !important;
    }
  }

  .lc-hide {
    display: none !important;
  }
}