$enable-flex:               true;
$enable-transitions:        true;
$enable-gradients:          false;

$border-radius:          .2rem !default;
$border-radius-lg:       .3rem !default;
$border-radius-sm:       .1rem !default;

$navbar-height: 54px;

$body-bg: #ECEFF1;
$brand-primary: #507299;
$brand-light: #E4EAF1;

$modal-header-bg: #6287ae;
$modal-header-text: #ffffff;
$modal-header-link: #c2d0e0;
$modal-header-link-hover: #ffffff;

//$link-color: #2a5885;

$check-input-color: $brand-primary;