$enable-flex:               true;
$enable-rounded:            false;
$enable-transitions:        true;
$enable-gradients:          false;

$body-bg: #ECEFF1;
$brand-primary: #34495E;
$brand-primary-dark: #2B3D4F;
$brand-primary-light: #3A5269;
$brand-primary-lighten: #415C76;
$brand-light: #B0BEC5;

$link-color: #3367D6;
//$link-color: #2196f3;

$check-input-color: $link-color;

$navbar-height: 54px;